﻿@model DomainLayerOA.Models.Author

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorPhoto)
        </dt>
        <dd class="col-sm-10">
            <img src="data:image;base64,@Convert.ToBase64String(Model.AuthorPhoto)" alt="Book cover photo" width="200" height="200" />
        </dd>
    </dl>
    
    <form asp-action="Delete" asp-route-id="@Model.AuthorId" method="post">
        <input type="hidden" asp-for="AuthorId" />
        <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete this author? Deleting the author will delete all the books written by this author.');" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>


