﻿@model DomainLayerOA.Models.Author

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Author</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.AuthorName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.AuthorPhoto)
        </dt>
        <dd class="col-sm-10">
            <img src="data:image;base64,@Convert.ToBase64String(Model.AuthorPhoto)" alt="Author photo" width="200" height="200"/>
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Books)
        </dt>
        @foreach(var item in Model.Books.ToList())
        {
            <dt class="col-sm-2">
                @item.BookName
            </dt>
        }
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.AuthorId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
