﻿@model Bookomari.com.Models.AuthorSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New Author</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group row">
        <label asp-for="AuthorSearchString" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" asp-for="AuthorSearchString" class="form-control" placeholder="Search by Author Name">
            <div id="search-results"></div>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Authors.FirstOrDefault().AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors.FirstOrDefault().Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Authors.FirstOrDefault().AuthorPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Authors) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AuthorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Address)
            </td>
            <td>
                <img src="data:image;base64,@Convert.ToBase64String(item.AuthorPhoto)" alt="Author photo" width="200" height="200" />
             </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.AuthorId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.AuthorId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.AuthorId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>
