﻿@model DomainLayerOA.Models.Book

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Book</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.BookName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Language)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Language)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.BookCoverPhoto)
        </dt>
        <dd class = "col-sm-10">
            <img src="data:image;base64,@Convert.ToBase64String(Model.BookCoverPhoto)" alt="Book cover photo" width="200" height="200" />
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Author.AuthorName)
        </dt>
        <dd class="col-sm-10">
            <a asp-controller="Author" asp-action="Details" asp-route-id="@Model.AuthorId">@Html.DisplayFor(model => model.Author.AuthorName)</a>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
