﻿@model Bookomari.com.Models.BookSearchViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" >Create New Book</a>
</p>

<form asp-action="Index" method="get">
    <div class="form-group row">
        <label asp-for="BookSearchString" class="col-sm-2 col-form-label"></label>
        <div class="col-sm-6">
            <input type="text" asp-for="BookSearchString" class="form-control" placeholder="Search by Book Name">
            <div id="search-results"></div>
        </div>
        <div class="col-sm-4">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </div>
</form>

<br />
<br />

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().BookName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().Author.AuthorName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Books.FirstOrDefault().BookCoverPhoto)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @foreach (var item in Model.Books) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.BookName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author.AuthorName)
            </td>
            <td>
                <img src="data:image;base64,@Convert.ToBase64String(item.BookCoverPhoto)" alt="Book cover photo" width="200" height="200" />
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.BookId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.BookId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.BookId">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>

